In [4]:
import pandas as pd
import scipy.io
import numpy as np
a=pd.read_csv('3_Messwerte.csv', sep=';', decimal=",")

In [5]:
mat=scipy.io.loadmat('ELNW_PR_02_Vorgabe_Messwerte.mat')
mat = {k:v for k, v in mat.items() if k[0] != '_'}
data = pd.DataFrame({k: np.array(v).flatten() for k, v in mat.items()})

In [11]:
data['u_R']=data['u_E']-data['u_C']
data['i']=data['u_R']
data['t_tat']=a['ttat']
data['t_mess']=a['tmess']

In [14]:
print(data.reindex(columns=['t_mess','t_tat','u_E','u_C','u_R','i']).to_latex(index=False,header=False))

\begin{tabular}{rrrrrr}
\toprule
0.00 & 0.00 &  9.36 & 0.16 &  9.20 &  9.20 \\
0.04 & 0.04 &  9.68 & 2.88 &  6.80 &  6.80 \\
0.08 & 0.08 &  9.84 & 4.72 &  5.12 &  5.12 \\
0.12 & 0.12 &  9.92 & 6.16 &  3.76 &  3.76 \\
0.16 & 0.16 & 10.00 & 7.28 &  2.72 &  2.72 \\
0.20 & 0.20 & 10.00 & 8.08 &  1.92 &  1.92 \\
0.24 & 0.24 & 10.00 & 8.64 &  1.36 &  1.36 \\
0.28 & 0.28 & 10.00 & 9.12 &  0.88 &  0.88 \\
0.32 & 0.32 & 10.00 & 9.36 &  0.64 &  0.64 \\
0.36 & 0.36 & 10.00 & 9.60 &  0.40 &  0.40 \\
0.40 & 0.40 & 10.00 & 9.68 &  0.32 &  0.32 \\
0.44 & 0.44 & 10.00 & 9.84 &  0.16 &  0.16 \\
0.48 & 0.48 & 10.00 & 9.92 &  0.08 &  0.08 \\
0.00 & 0.50 & 10.00 & 9.92 &  0.08 &  0.08 \\
0.04 & 0.54 &  0.32 & 6.88 & -6.56 & -6.56 \\
0.08 & 0.58 &  0.16 & 4.96 & -4.80 & -4.80 \\
0.12 & 0.62 &  0.08 & 3.60 & -3.52 & -3.52 \\
0.16 & 0.66 &  0.08 & 2.64 & -2.56 & -2.56 \\
0.20 & 0.70 &  0.08 & 1.92 & -1.84 & -1.84 \\
0.24 & 0.74 &  0.00 & 1.44 & -1.44 & -1.44 \\
0.28 & 0.78 &  0.00 & 1.04 & -1.04 & -1.04 \\
0.32 & 0.82 &  0.00 & 0.80 & -0.80 & -0.80 \\
0.36 & 0.86 &  0.00 & 0.48 & -0.48 & -0.48 \\
0.40 & 0.90 &  0.00 & 0.40 & -0.40 & -0.40 \\
0.44 & 0.94 &  0.00 & 0.24 & -0.24 & -0.24 \\
0.48 & 0.98 & -0.08 & 0.16 & -0.24 & -0.24 \\
\bottomrule
\end{tabular}

In [12]:
data

    t_mess   u_C    u_E   u_R     i  t_tat
0     0.00  0.16   9.36  9.20  9.20   0.00
1     0.04  2.88   9.68  6.80  6.80   0.04
2     0.08  4.72   9.84  5.12  5.12   0.08
3     0.12  6.16   9.92  3.76  3.76   0.12
4     0.16  7.28  10.00  2.72  2.72   0.16
5     0.20  8.08  10.00  1.92  1.92   0.20
6     0.24  8.64  10.00  1.36  1.36   0.24
7     0.28  9.12  10.00  0.88  0.88   0.28
8     0.32  9.36  10.00  0.64  0.64   0.32
9     0.36  9.60  10.00  0.40  0.40   0.36
10    0.40  9.68  10.00  0.32  0.32   0.40
11    0.44  9.84  10.00  0.16  0.16   0.44
12    0.48  9.92  10.00  0.08  0.08   0.48
13    0.00  9.92  10.00  0.08  0.08   0.50
14    0.04  6.88   0.32 -6.56 -6.56   0.54
15    0.08  4.96   0.16 -4.80 -4.80   0.58
16    0.12  3.60   0.08 -3.52 -3.52   0.62
17    0.16  2.64   0.08 -2.56 -2.56   0.66
18    0.20  1.92   0.08 -1.84 -1.84   0.70
19    0.24  1.44   0.00 -1.44 -1.44   0.74
20    0.28  1.04   0.00 -1.04 -1.04   0.78
21    0.32  0.80   0.00 -0.80 -0.80   0.82
22    0.36  0.48   0.00 -0.48 -0.48   0.86
23    0.40  0.40   0.00 -0.40 -0.40   0.90
24    0.44  0.24   0.00 -0.24 -0.24   0.94
25    0.48  0.16  -0.08 -0.24 -0.24   0.98