In [1]:
import pandas as pd
import scipy.io
a=pd.read_csv('3_Messwerte.csv', sep=';', decimal=",")

In [2]:
a

    tmess  ttat  ue  uc  ur   i
0    0.00  0.00 NaN NaN NaN NaN
1    0.04  0.04 NaN NaN NaN NaN
2    0.08  0.08 NaN NaN NaN NaN
3    0.12  0.12 NaN NaN NaN NaN
4    0.16  0.16 NaN NaN NaN NaN
5    0.20  0.20 NaN NaN NaN NaN
6    0.24  0.24 NaN NaN NaN NaN
7    0.28  0.28 NaN NaN NaN NaN
8    0.32  0.32 NaN NaN NaN NaN
9    0.36  0.36 NaN NaN NaN NaN
10   0.40  0.40 NaN NaN NaN NaN
11   0.44  0.44 NaN NaN NaN NaN
12   0.48  0.48 NaN NaN NaN NaN
13   0.00  0.50 NaN NaN NaN NaN
14   0.04  0.54 NaN NaN NaN NaN
15   0.08  0.58 NaN NaN NaN NaN
16   0.12  0.62 NaN NaN NaN NaN
17   0.16  0.66 NaN NaN NaN NaN
18   0.20  0.70 NaN NaN NaN NaN
19   0.24  0.74 NaN NaN NaN NaN
20   0.28  0.78 NaN NaN NaN NaN
21   0.32  0.82 NaN NaN NaN NaN
22   0.36  0.86 NaN NaN NaN NaN
23   0.40  0.90 NaN NaN NaN NaN
24   0.44  0.94 NaN NaN NaN NaN
25   0.48  0.98 NaN NaN NaN NaN

In [5]:
b=scipy.io.loadmat('ELNW_PR_02_Vorgabe_Messwerte.mat')
b['t_mess']

{'__header__': b'MATLAB 5.0 MAT-file, Platform: PCWIN64, Created on: Mo Mai 25 11:58:11 2020',
 '__version__': '1.0',
 '__globals__': [],
 't_mess': array([[0.  ],
        [0.04],
        [0.08],
        [0.12],
        [0.16],
        [0.2 ],
        [0.24],
        [0.28],
        [0.32],
        [0.36],
        [0.4 ],
        [0.44],
        [0.48],
        [0.5 ],
        [0.54],
        [0.58],
        [0.62],
        [0.66],
        [0.7 ],
        [0.74],
        [0.78],
        [0.82],
        [0.86],
        [0.9 ],
        [0.94],
        [0.98]]),
 'u_C': array([[0.16],
        [2.88],
        [4.72],
        [6.16],
        [7.28],
        [8.08],
        [8.64],
        [9.12],
        [9.36],
        [9.6 ],
        [9.68],
        [9.84],
        [9.92],
        [9.92],
        [6.88],
        [4.96],
        [3.6 ],
        [2.64],
        [1.92],
        [1.44],
        [1.04],
        [0.8 ],
        [0.48],
        [0.4 ],
        [0.24],
        [0.16]]),
 'u_E': array([[ 9.36],
        [ 9.68],
        [ 9.84],
        [ 9.92],
        [10.  ],
        [10.  ],
        [10.  ],
        [10.  ],
        [10.  ],
        [10.  ],
        [10.  ],
        [10.  ],
        [10.  ],
        [10.  ],
        [ 0.32],
        [ 0.16],
        [ 0.08],
        [ 0.08],
        [ 0.08],
        [ 0.  ],
        [ 0.  ],
        [ 0.  ],
        [ 0.  ],
        [ 0.  ],
        [ 0.  ],
        [-0.08]])}